
---
import { ViewTransitions } from 'astro:transitions';

const title = "SBC";
const description = "Serverless Backend Components (SBC) is a collection of pre-built backend components that you can use to build your serverless applications.";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>Astro Basics</title>
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ViewTransitions />
