---
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body id="body" class="bg-white dark:bg-slate-800 dark:text-white">
    <slot />
  </body>
</html>

<script>
  document.documentElement.classList.toggle(
    "dark",
    localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
  );
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
